<div class="p-4 container container-custom h-full flex flex-col ">

    <div class="flex justify-center p-5 text-3xl">
      <a href="/" class="text-blue-500 hover:underline">Topics</a> &nbsp; / {{ this.trackerName }}
    </div>
  
    <div class="flex justify-between items-center mb-4">
      
      <!-- Search Input -->
      <input 
        type="text" 
        [(ngModel)]="searchText" 
        placeholder="Search..." 
        class="border px-3 py-2 rounded-lg w-3/4"
      />
  
      <!-- Selected Rows Summary -->
      <div class="bg-gray-100 px-4 py-2 rounded-lg text-gray-700">
        <span class="font-bold">{{ selectedRows.length }} / {{ tableData.length }} Done</span>
      </div>
      
    </div>
    
    <div class="flex-1 overflow-y-auto">
      <table class="min-w-full bg-blue border border-blue-300 rounded-lg shadow-md" >
        <thead class="bg-gray-100 border-b sticky top-0 z-10">
          <tr>
            
            <th class="py-2 border">S.No</th>
            <th class="px-4 py-2 border">Name</th>
            <th class="py-2 border"></th>
          </tr>
        </thead>
        <tbody>
          
          <!-- Display unchecked rows first, then checked rows -->
          <tr *ngFor="let item of sortedTableData(); let i = index" class="hover:bg-blue-50">
            
            <td class="px-4 py-2 border">{{ item.id }}</td>
            <td class="px-4 py-2 border">
              <a [href]="item.link" target="_blank">{{ item.name }}
                </a>
              </td>
            <td class="px-4 py-2 border text-center pointer-cursor">
              <input 
                type="checkbox" 
                [(ngModel)]="item.checked"
                (change)="reorderRows()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    </div>
    